<!DOCTYPE html>

<html>
  <title>Sign Up</title>

<head>

    <link rel="stylesheet" href="/static/login.css">

</head>

<div class="login-box">
  <h2>Sign Up</h2>  

    {% with messages = get_flashed_messages() %}
    {% if messages %} 
      {% for message in messages %}
       <p class="messages"> {{ message }} </p>
    {% endfor %} 
   {% endif %} {% endwith %}
  
  


    <form method="post" action="{{url_for('signup')}}" id="signupform">

      <div class="user-box">
        <input class="words" name="username" type="text" placeholder="Username" required="">
        <label>Username</label>
      </div>

      <div class="user-box">
        <input class="words" name="password" type="password" placeholder="Password" required="">
        <label >Password</label>
      </div>

      <div class="user-box">
        <input class="words" name="confirmpassword" type="password" placeholder="Confirm Password" required="">
        <label >Confirm Password</label>
      </div>

      <div>
        <input class=sumbitbtn id="submit" type="submit" value="sign up">
      <a href="{{ url_for('login') }}" class="cancelbtn">Cancel</a> 

      </div>
      



  
      
    </form>
  </div>
  </html>
